<!DOCTYPE html>
<html>
  <head> </head>

  <body>
    <div>
      <h1>Product page</h1>
      <%=products.map((product)=>{ %>
      <h4>
        <a href="/products/<%=product.id%>"><%=product.productTitle %></a>
      </h4>
      <p><%=product.productDesc %></p>
      <p>ราคา<%=product.productPrice %></p>
      <% })%>
    </div>
  </body>
</html>
